body {
    background-color: black;
    background-image: url('../images/nice.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: "Special Elite", system-ui;

    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
        0    0   2px #000;
}

h1 {
    font-size: 100px;
    margin-top: 50px; 
    margin-bottom: 80px;
    text-align: center;
    
}

p{
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 1px;
}

#p2{
    font-size: 30px;
    margin-top: 1px
}
